{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explorador de Archivos</title>
    <link rel="icon" href="{% static 'img/icon.svg' %}">
    <meta name="autor" conent="Nelson Navarro"
    <meta name="github" conent="NelsonNV/cloud_file">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script defer type="module" src="/static/js/main.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="container is-fluid py-5">
        <h1 class="title is-3 mb-4">Explorador de Archivos</h1>
        
        <!-- Barra de Navegación (Breadcrumb) -->
        <nav id="breadcrumb" class="breadcrumb is-small has-bullet-separator"></nav>

        <!-- Botones para crear carpeta y subir archivos -->
        <div class="buttons mb-4">
            <button id="btnCrearCarpeta" class="button is-primary">Crear Carpeta</button>
            <button id="btnSubirArchivo" class="button is-info">Subir Archivo</button>
        </div>

        <!-- Formulario de subir archivo (invisible por defecto) -->
        <div id="formSubirArchivo" class="box" style="display: none;">
            <input type="file" id="archivoInput" class="input mb-3">
            <button id="btnSubir" class="button is-success">Subir</button>
        </div>

        <!-- Contenedor de archivos y carpetas -->
        <div id="contenedor" class=""></div>
    </div>

</body>
</html>
